<div class="container">
  <header><p><iframe src="https://giphy.com/embed/wdjCHcc0BcUSs" width="300" height="245" frameBorder="0" class="giphy-embed"></iframe></p>
  
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Mileage Tracker!</h2>

    <div class="content">
      <p>This Sinatra App allows runners to keep up with the milage on their running shoes! Runners can create new shoes, and update their mileage after every run.</p>
      <p>Click <b><a href="/login">here</a></b> to log in!</p>
      <p>Click <b><a href="/signup">here</a></b> to sign up!</p>
    </div>

  </div>
</div>
