<div class="container">
  <header>
    <% if flash.has?(:message) %>
      <p style="color:red; font-size: 1.2em;"><strong><%= flash[:message] %></strong></p>
    <% end %>
    <p><iframe class="gif" src="https://giphy.com/embed/wdjCHcc0BcUSs" width="300" height="245" frameBorder="0" class="giphy-embed"></iframe></p>
  </header>
  <div class="col-md-8 col-md-offset-2">
    
    <h2>Welcome to the Mileage Tracker!</h2>

    <div class="content">
      <p style="text-align: center;">This Sinatra App allows runners to keep up with the milage on their running shoes! 
      With this app, runners can create new pairs of shoes, view all of their running shoes, edit existing pairs of shoes, 
      delete any shoes, and update their shoe's running log after every run!</p>
      <p>Click <strong><a href="/login">here</a></strong> to log in!</p>
      <p>Click <strong><a href="/signup">here</a></strong> to sign up!</p>
    </div>
  </div>
</div>