
<p>Welcome, <b><%= @current_user.username%></b>!</p>
<header>
    <p><a href="/shoes">All Shoes</a> | <a href="/logout">logout</a>
</header>
<h1>My Shoes</h1>
<br>
    <% if @shoes.size > 0 %>
        
        <% @shoes.each_with_index do |shoe, index|%>
            <h3><%= index + 1 %>. &nbsp;<a href="/shoes/<%= shoe.id %>"><%= shoe.name %></a></h3>
        <% end %>
        
    <% else %>
        <p>You don't have any shoes to track! Click <a href="/shoes/new">here</a> to create a new shoe.</p>
    <% end %>
    <br>
    <% if @shoes.size > 0 %>
        <p>Click <a href="/shoes/new">here</a> to add a new shoe.</p>
    <% end %>

