
<p>Welcome, <b><%= @current_user.username%></b>!</p>

<h1>My Expenses</h1>
<br>
<ul>
    <% @shoes.each do |shoe|%>
            
                <li><a href="/shoes/<%= shoe.id %>">
        <% end %>
        <a href="/shoes/new">Add a new shoe!</a>
        <p>You don't have any shoes to track! <a href="/shoes/new">Create a new shoe to track here</a>.</p>
    
</ul>
<!--
#<Shoe:0x00007ff10c3fbf10
  id: 7,
  name: "Earth Runners",
  date: Fri, 01 May 2020,
  new_mileage: 7000,
  current_mileage: 6000,
  price: 0.5099e2,
  user_id: 3>, -->